
	<h3>Home</h3>
	<p>Welcome to the home of <%= @owner.name %>.</p>
	<p>I was born on <%= @owner.birthdate %></p>
	<p>Only <%= @owner.countdown %> days till my next birthday.</p>
	<p>That is about <%= @owner.months_till %> months.</p>
	<p>That is about <%= @owner.hours_till %> hours or about <%= @owner.minutes_till %> minutes or about <%= @owner.seconds_till %> seconds</p>
	<% content_for :sidebar do %>
	  <h3>Contact Info</h3>
	  <p>Email: me@example.com</p>
	<% end %>
	<% content_for :title do %>
	When is Noah's Birthday
	 <% end %>
 </div>